/* General */
* {
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
    color: #000;
    max-width: 100%;
    overflow-x: hidden; 
}

.container {
    width: 80%;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

/* Header And ShowCase */
#section1 {
    background-color: #FFBAA1;
    width: 100%;
    min-height: 100vh;
}

#header {
    margin-top: 30px;
}

#lo1 {
    display: none;
}

#logo {
    width: 30px;
    height: auto;
    margin: 10px;
    padding: 5px;
}

#nav {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    float: right;
    margin-top: 10px;
}

#nav li {
    float: left;
    margin: 0 15px;
    padding: 5px 15px;
    font-size: 18px;
    list-style: none;
}

#nav li a {
    text-decoration: none;
    font-weight: normal;
}

#relax {
    margin-right: 40px;
}

#freeTrial {
    background-color: #110ACD;
    border-radius: 5px;
}

#open {
    display: none;
}

#relax:hover {
    font-size: 20px;
    transition: 0.5s;
}

#anime1:hover, #anime2:hover {
    font-size: 20px;
    transition: 0.5s;
}

#freeTrial:hover {
    padding: 7.5px 22px;
    transition: 0.5s;
}

#freeTrial a {
    color: #fff;
}

/* Showcase */
#showcase {
    margin-top: 20px;
}

#showcaseText {
    width: 45%;
    float: left;
    margin-top: 100px;
    text-align: right;
}

#showcaseText h1 {
    font-size: 42px;
    line-height: 1.5em;
    font-weight: 400;
}

#showcaseLinks {
    float: right;
}

#showcaseLinks li {
    float: left;
    display: inline;
    list-style: none;
}

#apple {
    margin-top: 9px;
}

/* Showcase Image */
#showcaseImage1 {
    display: none;
}

#showcaseImage2 {
    width: 55%;
    height: auto;
    top: 80px;
    display: inline;
    float: left;
    margin: 20px auto;
}

/* Section2 */
#section2 {
    background-color: #fff;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#phoneImg1 {
    float: left;
    margin: auto;
    width: 50%;
}

#phoneImg2 {
    display: none;
}

#phoneImg3 {
    display: none;
}

article {
    margin: auto;
    float: right;
    display: inline;
    width: 40%;
}

article h1 {
    font-style: normal;
    font-size: 42px;
    font-weight: 400;
}

article p {
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
}

article button {
    background-color: #110ACD;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

article button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 15px;
    transition: 0.5s;
}

/* Section3 */
#section3 {
    margin-top: 200px;
    text-align: center;
}

#review {
    margin-bottom: 200px;
}

#review h1{
    font-size: 42px;
}

#review p{
    font-size: 22px;
    display: inline-block;
}

#img1 {
    float: left;
    display: inline-block;
}

#img2 {
    float: right;
    display: inline-block;
}

#img1:hover, #img2:hover {
    cursor: pointer;
    width: 2.5%;
    height: auto;
    transition: 0.5s;
}

#peeps2 {
    display: none;
}

#peeps3 {
    display: none;
}

/* Footer */
footer {
    background-color: #fbbba3;
    width: 100%;
    height: 200px;
}

@media (max-width:1147px) {
     
    #showcaseText h1 {
        font-size: 35px;
    }

    article h1 {
        font-size: 35px;
    }
    
    article p {
        font-size: 18px;
    }

}

@media(max-width:813px) {

    .container {
        width: 90%;
    }

    #nav li {
        margin: 0 10px;
        padding: 5px 10px;
    }
/* 
    #freeTrial {
        display: none;
    }

    #freeTrial2 {
        display: block; 
        width: 30%;     
    } */

    #showcase {
        margin-top: 30px;
    }
   
    #showcaseText h1 {
        line-height: 1.5em;
        font-weight: 400;
    }

    #showcaseImage {
        margin: 40px auto;
    }

    #phoneImg1 {
        display: none;
    }

    #phoneImg2 {
        display: block;
        float: left;
        margin: auto;
        width: 50%;
    }

    article h1 {
        font-size: 30px;
    }

    #peeps1 {
        display: none;
    }

    #peeps2 {
        display: block;
    }

}

@media (max-width:705px) {

    .container {
        width: 80%;
    }

    #lo1 {
        display: block;
        margin-left: 50%;
    }

    #logo {
        display: none;
    }

 
    #relax:hover {
        font-size: 18px
    }
    
    #anime1:hover, #anime2:hover {
        font-size: 18px
    }
    
    #freeTrial:hover {
        padding: none;
        font-size: 18px;
    }

    #showcase {
        margin-bottom: 300px;
    }

    #showcaseImage1 {
        display: flex;
        justify-content: center;
    }
    
    #showcaseImage2 {
        display: none;
    }

    #showcaseText {
        text-align: center;
        width: 100%;
    }

    #showcaseLinks { 
        float: none;
        display: flex;
        justify-content: center;
    }

    #phoneImg3 {
        display: block;
        float: none;
        margin-top: -325px;
        margin-left: 50%;
        width: 100%;
        position: absolute;
    }

    #phoneImg2 {
        display: none;
    }

    article {
        position: relative;
        text-align: left;
        margin: auto;
        margin-top: 200px;
        float: none;
        display: block;
        width: 100%;
    }

    article h1 {
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 500;
    }

    article p {
        font-style: Roboto;
        font-size: 20px;
        line-height: 1.6em;
    }

    #review h1 {
        font-size: 26px;
        font-weight: 500;
    }

    #review p {
        margin-top: 45px;
        font-size: 22px;
        width: 70%;
    }

    #img1, #img2{
        margin-top: 100px;
    }

    #peeps2 {
        display: none;
    }

    #peeps3 {
        display: block;
        justify-content: baseline;
    }
    
}

@media (max-width:592px) {

    #open {
        display: block;
    }

    #nav {
        position: fixed;
        background-color: #fff;
        height: 100%;
        width: 60%;
        margin-left: 200px; 
        margin-top: -97px;
        text-align: center;
    }

     #nav ul {
        margin-top: 60px;
        font-size: 18px;
        list-style: none;
    }

    #nav ul li{
        display: block;
        float: none;
        margin: 30px -5%;
        width: 100%;
    }
    
    #freeTrial {
        background-color: #fff;
    }

    #freeTrial a {
        color: #000;
    }
    
    #relax:hover {
        font-size: 20px;
        transition: 0.5s;
    }
    
    #anime1:hover, #anime2:hover {
        font-size: 20px;
        transition: 0.5s;
    }
    
    #freeTrial:hover {
        font-size: 20px;
        transition: 0.5s;
    }
   
}